name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [created]

jobs:
  test-examples:
    name: Test Examples
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8.x, 3.14.x]
    steps:
      - name: Start NATS with JetStream
        run: docker run -d --name nats -p 4222:4222 docker.io/nats:2.12 -js
      - name: Checkout
        uses: actions/checkout@v5
      - name: Prepare PNPM
        uses: ./.github/actions/prepare-pnpm
      - name: Test Examples
        run: pnpm --filter flow-module-examples test all
